<%= form_for @product do |f| %>
  <div class="field">
  	<%= f.select(:color, %w(Black Charcoal Wine Plum).collect {|c| [ c, c ]}) %>
  </div>
  <div class="field">
  	<%= f.select(:size, %w(S M L Children's).collect {|s| [ s, s ]}) %>
  </div>
  <div class="field">
  	<%= f.label :quantity %>
  	<%= f.number_field :quantity %>
  </div>
  <div class="actions">
  	<%= f.submit "Add to Cart" %>
  </div>
<% end %>

